/* this is a CSS comment*/

body {
background-color: rgb(220, 187, 150);
border-style: inset;
background: linear-gradient(rgb(76, 48, 48), pink)
}

h1 {
color: rgb(62, 5, 33);
}
h2 {
color: rgb(174, 60, 117);
}


.adsrArea input{
input[type=range] {
  accent-color: hotpink;
}
}


.ctlArea{

}

.ctlArea input{

}

#transportArea {
    color: rgb(254, 179, 67);
    background-color: rgb(154, 137, 117);
    border-radius: 50px;
    padding: 16px 16px;


button {
  background-color: rgb(33, 113, 133);
  color: rgb(254, 179, 67);
  border: none;
  border-radius: 8px;
  padding: 10px 16px;
  transition: transform 0.2s;
}

.slider input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 300px;
  height: 6px;
  background: #fb0101;
  border-radius: 3px;
  outline: none;
}

.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #e47738;
  transition: background 0.3s;
}

.slider input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  appearance: none;
  background: linear-gradient(to right, #f8cf6e var(--value, 50%), #ddd var(--value, 50%));
  border-radius: 3px;
  height: 6px;
}
}